body{
margin:0px;
overflow-x:hidden;
}


header{
position:relative;
top:150px;
left:-70%;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
width:65%;
height:400px;
border:1px solid white;
border-radius:20px;
animation:header 1s forwards;
animation-delay:1s;
margin-bottom:600px;
padding:20px;
}
@keyframes header{
from{left:-70%}
to{left:5%}
}
.square_out{
width:200px;
height:300px;
border:1px solid white;
display:flex;
justify-content:center;
align-items:center;
animation:square_out 2s infinite alternate;
position:relative;
}





section{
width:100%;
height:500px;
margin:300px 100px;
animation:section 2s;
}
.background_sky{
background:url('portfolio_img/sky3.jpg')fixed;
width:100%;
height:5480px;
animation:sky 24s linear infinite alternate;
}

@keyframes sky{
0%{background-position:0%}
100%{background-position:100%}
}

.photo{
position:relative;
top:-14%;
left:-2%;
width:210px;
height:150px;
animation:photo 3s;
}

.photo img{
width:100%;
border-radius:70px;
}

@keyframes photo{
0%{opacity:0}
100%{opacity:1}
}

.h1_1{
position:relative;
animation:h1_1 4s forwards;
width:100%;
left:200%;
animation-delay:2s;
color:white;
padding:20px;
display:flex;
}
.hello{
font-size:30px;
font-weight:700;
}
.hello1{
position:relative;
color:red;
top:0px;
animation:hello1 0.5s infinite alternate;
animation-delay:6s;

}
@keyframes hello1{
from{top:0px}
to{top:-25px}
}
.hello2{
position:relative;
top:0px;
animation:hello2 0.5s infinite alternate;
animation-delay:6.2s;
color:orange;

}
@keyframes hello2{
from{top:0px}
to{top:-25px}
}
.hello3{
position:relative;
top:0px;
animation:hello3 0.5s infinite alternate;
animation-delay:6.4s;
color:yellow;

}
@keyframes hello3{
from{top:0px}
to{top:-25px}
}
.hello4{
position:relative;
top:0px;
animation:hello4 0.5s infinite alternate;
animation-delay:6.6s;
color:green;

}

@keyframes hello4{
from{top:0px}
to{top:-25px}
}

.hello5{
position:relative;
top:0px;
animation:hello5 0.5s infinite alternate;
animation-delay:6.8s;
color:blue;

}
@keyframes hello5{
from{top:0px}
to{top:-25px}
}
.hello6{
position:relative;
top:0px;
animation:hello6 0.5s infinite alternate;
animation-delay:7s;
color:purple;

}
@keyframes hello6{
from{top:0px}
to{top:-25px}
}

.h1_2{
position:relative;
left:200%;
width:100%;
animation:h1_2 4s forwards;
animation-delay:1s;
color:gold;
padding:20px;
font-size:40px;
font-weight:700;
}
.h1_3{
position:relative;
left:200%;
width:100%;
animation:h1_3 4s forwards;
animation-delay:1s;
display:flex;
padding:20px;
font-size:40px;
font-weight:700;
}

.h1_4{
width:100%;
position:relative;
animation: h1_4 2s;
margin-top:350px;
font-size:60px;
}

@keyframes h1_4{
0%{left:-30%;opacity:0.1;}
100%{left:0%;opacity:1;}
}


@keyframes h1_1{
0%{left:200%;}
33.3%{left:-20%;}
100%{left:0%;}
}
@keyframes h1_2{
0%{left:200%;}
66.6%{left:0%;}
100%{left:0%;}
}
@keyframes h1_3{
0%{left:200%}
100%{left:0%}
}
.skills_words{
font-size:17px;
}
.intro{
animation:intro 3s;
font-size:20px;
font-wight:700;
}

.intro_back{
border:1px solid white;
width:700px;
border-radius:30px;
font-weight:700;
padding:20px;
color:white;
display:flex;
flex-direction:column;
}

@keyframes intro{
from{opacity:0}
to{opacity:1}
}

.skill_img{
position:relative;
margin:40px 0px;
left:0%;
width:610px;
height:250px;
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
border-radius:20px;
animation:skill_img 2s;
border:1px solid white;
color:white;
font-weight:700;
}

.skill_img img{
width:130px;
height:130px;
}

.skills{
position:relative;
left:-6%;
margin-top:100px;
width:100%;
display:flex;
flex-direction:column;
align-items:start;
}

.skills span{
margin-left:30px;
font-size:20px;
color:white;
font-weight:700;
}

.skill_img .css_img{
margin-left:15px;
width:90px;
height:130px;
margin-right:15px;
}


@keyframes skill_img{
from{left:-100%}
to{left:0%}
}

.words{
display:flex;
flex-direction:column;
}

.project{
position:relative;
left:0%;
margin-top:100px;
width:70%;
height:200px;
background:gray;
display:flex;
align-items:center;
justify-content:space-around;
border-radius:50px;
text-decoration:none;
animation:skill_img 2s;
z-index:2;

}

.project img{
height:80%;
}

.project span{
font-size:45px;
color:white;
}

.project:hover{
opacity:0.5;
}

footer{
position:fixed;
z-index:1;
left:80%;
width:230px;
display:flex;
flex-direction:column;
align-items:end;
height:150px;
animation:footer 1s forwards;
animation-delay:4s;
display:flex;
justify-content:center;
align-items:center;
}

@keyframes footer{
from{top:650px}
to{top:400px}
}



footer span{
margin-top:10px;
}


.road_map{
position:fixed;
top:0px;
width:100%;
height:100px;
background:#00ff0000;
opacity:0.8;
z-index:10;
animation:road_map 1s;
}
@keyframes road_map{
from{left:-1200px}
to{left:0px}
}

.flying{
width:150px;
transform:rotateY(180deg);
position:fixed;
top:40px;
left:50px;
z-index:10;
}
.flying img{
width:70%;
}

.map{
width:100%;
height:60px;
position:fixed;
top:10px;
display:flex;
justify-content:space-around;
z-index:10;
}

.map a{
font-size:170%;
margin:0px 20px;
color:white;
text-decoration:none;
}

.map a:hover{
text-decoration:underline;
}

.git{
text-decoration:none;
color:black;
}

.banner{
display:flex;
flex-direction:column;
justify-content:space-around;
width:90%;
background:gray;
align-items:center;
}
.banner button{
background:gray;
border:none;
cursor:pointer;
}
.email{
border-top-left-radius:50px;
border-top-right-radius:50px;
}
.github{
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
}
.email img{
width:40px;
height:40px;
cursor:pointer;
}

.address{
transition:0.5s;
font-size:20px;
height:0px;
width:100%;
text-align:center;
}

.dot{
width:75%;
height:350px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.dot img{
width:100px;
height:90px;
}
.dot span{
font-size:80px;
}

.resume{
position:relative;
top:3420px;
left:30%;
border:1px solid gray;
border-radius:10px;
width:400px;
height:150px;
background:gray;
font-size:30px;
display:flex;
justify-content:center;
align-items:center;
z-index:20;
}

.resume a{
position:relative;
top:0px;
z-index:20;
text-decoration:none;
color:white;
}
.resume:hover a{
text-decoration:underline;
}
.resume:hover .width{
width:393px;
}

.resume:hover .height{
height:142px;
}
.width{
opacity:0.5;
position:absolute;
transition:1s;
width:0px;
height:140px;
border-top:2px solid white;
border-bottom:2px solid white;
}

.height{
opacity:0.5;
position:absolute;
transition:1s;
width:390px;
height:0px;
border-left:2px solid white;
border-right:2px solid white;
}

svg{
width:150px;
height:150px;
}

.skill_img h1{
position:relative;
left:-45px;
color:white;
}

circle{
transition:2s;
transform-origin:center;
fill:none;
stroke:white;
stroke-width:10px;
stroke-dasharray:200px 300px;
transform:rotate(270deg);
animation:circle 3s;
animation-delay:0.5s;
}

@keyframes circle{
from{stroke-dasharray:10px 300px}
to{stroke-dasharray:200px 300px}
}

svg text{
color:white;
}

.svg_js circle{
stroke-dasharray:100px 300px;
animation:circle_js 3s;
}
.svg_bt circle{
stroke-dasharray:50px 300px;
animation:circle_js 3s;
}


@keyframes circle_js{
from{stroke-dasharray:10px 300px}
to{stroke-dasharray:100px 300px}
}

@keyframes circle_bt{
from{stroke-dasharray:10px 300px}
to{stroke-dasharray:50px 300px}
}

aside{
position:fixed;
top:110px;
width:100px;
left:1150px;
height:160px;
color:white;
border:1px solid white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:50px;
opacity:0;
animation:aside 1s forwards;
animation-delay:7s;
}
@keyframes aside{
from{opacity:0}
to{opacity:1}
}
aside img{
width:50%;
opacity:0.4;
}

.arrow_img1{
animation:arrow_img1 1s infinite;
}
@keyframes arrow_img1{
from{opacity:0}
to{opacity:0.4}
}
.arrow_img2{
animation:arrow_img2 1s infinite;
animation-delay:0.5s;
}
@keyframes arrow_img2{
from{opacity:0}
to{opacity:0.4}
}
.contact{
display:none;
}
.media_intro{
display:none;
}
.media_skills{
display:none;
}

.skill{
display:flex;
}

@media(max-width:900px){
header{
padding:50px;
}

footer{
left:71%;
top:99%;
transition:1s;
animation:stop;
}

.intro{
display:none;
}
.h1_4{
left:-5%;
font-size:30px;
}

.intro_back{
position:relative;
left:-12%;
width:401px;
height:300px;
}


.skill_img{
width:370px;
height:300px;
left:-5%;
}


.resume{
left:20%;
top:3650px;
width:40%;
}
.background_sky{
height:5580px;
}
.contact{
display:block;
cursor:pointer;
width:150px;
height:50px;
font-size:15px;
border-radius:20px;
margin:20px;
}
footer{
left:58%;
}
.email{
border-bottom:1px solid gray;
}
.skills_words{
display:none;
}
.media_intro{
display:block;
font-size:13px;
}
.media_skills{
display:block;
}
.h1_2{
font-size:22px;
}
.h1_3{
font-size:22px;
}
.project span{
font-size:30px;
}
.project{
width:90%;
left:-10%;
}
.skill{
display:flex;
}.map a{
margin:5px 5px;
font-size:10px;
border:1px solid white;
height:15px;
padding:5px;
border-radius:20px;
}
.resume .width{
display:none;
}
.resume .height{
display:none;
}
}

@media(max-width:550px){
.skill_img{
left:-14%;
width:346px;
}
.project{
left:-20%;
}
.intro_back{
left:-22%;
width:401px;
height:250px;
padding:7px 0xp;
}
header{
height:250px;
padding:15px;
}
.photo{
width:350px;
top:-0%;
}
.project img{
border-radius:20px;
}
.resume{
left:10%;

}
footer{
left:52%;
}

}